.movie-card {
  background-color: #141414;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.movie-card .card-body {
  background-color: #141414;
  color: #fff;
  padding: 10px;
}

.watch-btn {
  width: 100%;
  margin-top: 5px;
  background-color: #e50914;
  border: none;
}

.watch-btn:hover {
  background-color: #f40612;
}

.add-btn {
  width: 100%;
  margin-top: 5px;
  background-color: #fcfcfc;
  border: none;
}

.add-btn:hover {
  background-color: #444;
}
