
.head{
  
  color: rgb(253, 252, 252);
  padding:20px 30px;
  height: 600px;
  background-image: url('./787499.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  border-radius: 20px;
  margin-bottom: 50px;
}
#card col-lg-3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
@media screen and (max-width: 768px) {
  .hi {
    display: none;
  }
    
}