*{
  margin: 0;
  padding: 0;
  
}
.head{
  
  color: rgb(253, 252, 252);
  padding:20px 30px;
  height: 600px;
  background-image: url('');
  background-size: cover;
  background-repeat: no-repeat;
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 10px;
  border-radius: 20px;
  margin-bottom: 50px;
}
#cardcol-lg-3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}
.scrollable-div {
      margin: auto;
      padding: 15px;
      width: 90%;
      height: 400px;
      max-width: 600px;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      border: 1px solid #ddd;
    }